<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82445791465-23umao3i9ps3gcr5oaaqu8nppc399rk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82445791465-23umao3i9ps3gcr5oaaqu8nppc399rk4</string>
	<key>API_KEY</key>
	<string>AIzaSyDSzp3l6R5j-RGOSwzMfMZ7Wdw3nTnUi6o</string>
	<key>GCM_SENDER_ID</key>
	<string>82445791465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList</string>
	<key>PROJECT_ID</key>
	<string>todo-list-9d191</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-9d191.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82445791465:ios:d625ed41cd84597ca2c078</string>
</dict>
</plist>